@attribute [Route(Menu.Button)]

<SCard>
    <Body>
    <SFormLayout>
        <FormLayoutItem Title="尺寸">
            <EnumSelector @bind-Value="Size"/>
        </FormLayoutItem>
        <FormLayoutItem Title="颜色主题">
            <EnumSelector @bind-Value="Theme"/>
        </FormLayoutItem>
    </SFormLayout>
    </Body>
</SCard>

<SCard Theme="Theme" Size="Size">
    <Body>
    <SButton Class="inline-block">
        <AddTemplate>Button</AddTemplate>
    </SButton>
    <SButton Class="inline-block outline">
        <AddTemplate>Button</AddTemplate>
    </SButton>
    <SButton Class="inline-block plain">
        <AddTemplate>Button</AddTemplate>
    </SButton>
    <SButton Class="inline-block shadow">
        <AddTemplate>Button</AddTemplate>
    </SButton>
    </Body>
</SCard>



@code
{
    private Theme Theme { get; set; }

    private Size Size { get; set; }
}
