@attribute [Route(Menu.Card)]

<SCard>
    <Header>
        @Title
    </Header>
    <Body>
    @Content
    </Body>
</SCard>





@code
{
    string Title { get; } = RandomUtils.GetWord(true);

    string Content { get; } = RandomUtils.GetSentences(10);
}
