
@attribute [Route(Menu.Input)]
<SCard>
    <Body>
    <SFormLayout>
        <FormLayoutItem Title="尺寸">
            <EnumSelector @bind-Value="Size"/>
        </FormLayoutItem>
        <FormLayoutItem Title="颜色主题">
            <EnumSelector @bind-Value="Theme"/>
        </FormLayoutItem>
    </SFormLayout>
    </Body>
</SCard>

<SCard Theme="Theme" Size="Size">
    <Body>
    <SFormLayout>
        <FormLayoutItem Title="default">
            <TextBox Value="@("default")" Class=""/>
        </FormLayoutItem>
        <FormLayoutItem Title="outline">
            <TextBox Value="@("outline")" Class=" outline"/>
        </FormLayoutItem>
        <FormLayoutItem Title="plain">
            <TextBox Value="@("plain")" Class=" plain"/>
        </FormLayoutItem>
        <FormLayoutItem Title="shadow">
            <TextBox Value="@("shadow")" Class=" shadow"/>
        </FormLayoutItem>
    </SFormLayout>
    </Body>
</SCard>

@code
{
    private Theme Theme { get; set; }

    private Size Size { get; set; }
}