@namespace Secyud.Secits.Blazor
@using Secyud.Secits.Blazor.Settings
@inherits SContentBase


@((RenderFragment)base.BuildRenderTree)

@code {

    protected override RenderFragment? GenerateHeader()
    {
        var renders = GetRenders(RendererPosition.Header);
        return renders.Count == 0
            ? null
            : @<div class="header">
                  @GenerateContent(renders)
              </div>;
    }

    protected override RenderFragment? GenerateBody()
    {
        var renders = GetRenders(RendererPosition.Body);
        return renders.Count == 0
            ? null
            : @<div class="body">
                  @GenerateContent(renders)
              </div>;
    }

    protected override RenderFragment? GenerateFooter()
    {
        var renders = GetRenders(RendererPosition.Footer);
        return renders.Count == 0
            ? null
            : @<div class="footer">
                  @GenerateContent(renders)
              </div>;
    }

}

