@import './component/card.css';
@import './component/input.css';
@import './component/button.css';
@import './component/group.css';

:root {
    --s-color-1: rgba(var(--s-color-rgb), 0.1);
    --s-color-2: rgba(var(--s-color-rgb), 0.2);
    --s-color-3: rgba(var(--s-color-rgb), 0.3);
    --s-color-4: rgba(var(--s-color-rgb), 0.4);
    --s-color-5: rgba(var(--s-color-rgb), 0.5);
    --s-color-6: rgba(var(--s-color-rgb), 0.6);
    --s-color-7: rgba(var(--s-color-rgb), 0.7);
    --s-color-8: rgba(var(--s-color-rgb), 0.8);
    --s-color-9: rgba(var(--s-color-rgb), 0.9);

    --s-color-secondary-1: rgba(var(--s-color-back-rgb), 0.1);
    --s-color-secondary-2: rgba(var(--s-color-back-rgb), 0.2);
    --s-color-secondary-3: rgba(var(--s-color-back-rgb), 0.3);
    --s-color-secondary-4: rgba(var(--s-color-back-rgb), 0.4);
    --s-color-secondary-5: rgba(var(--s-color-back-rgb), 0.5);
    --s-color-secondary-6: rgba(var(--s-color-back-rgb), 0.6);
    --s-color-secondary-7: rgba(var(--s-color-back-rgb), 0.7);
    --s-color-secondary-8: rgba(var(--s-color-back-rgb), 0.8);
    --s-color-secondary-9: rgba(var(--s-color-back-rgb), 0.9);

    --s-color-dark-1: rgba(var(--s-color-dark-rgb), 0.1);
    --s-color-dark-2: rgba(var(--s-color-dark-rgb), 0.2);
    --s-color-dark-3: rgba(var(--s-color-dark-rgb), 0.3);
    --s-color-dark-4: rgba(var(--s-color-dark-rgb), 0.4);
    --s-color-dark-5: rgba(var(--s-color-dark-rgb), 0.5);
    --s-color-dark-6: rgba(var(--s-color-dark-rgb), 0.6);
    --s-color-dark-7: rgba(var(--s-color-dark-rgb), 0.7);
    --s-color-dark-8: rgba(var(--s-color-dark-rgb), 0.8);
    --s-color-dark-9: rgba(var(--s-color-dark-rgb), 0.9);

    --s-color-light-1: rgba(var(--s-color-light-rgb), 0.1);
    --s-color-light-2: rgba(var(--s-color-light-rgb), 0.2);
    --s-color-light-3: rgba(var(--s-color-light-rgb), 0.3);
    --s-color-light-4: rgba(var(--s-color-light-rgb), 0.4);
    --s-color-light-5: rgba(var(--s-color-light-rgb), 0.5);
    --s-color-light-6: rgba(var(--s-color-light-rgb), 0.6);
    --s-color-light-7: rgba(var(--s-color-light-rgb), 0.7);
    --s-color-light-8: rgba(var(--s-color-light-rgb), 0.8);
    --s-color-light-9: rgba(var(--s-color-light-rgb), 0.9);
}

