@import './component/card.css';
@import './component/input.css';
@import './component/button.css';
@import './component/table.css';
@import './component/group.css';


.x-small {
    --size: 0.75rem;
}

.small {
    --size: 0.875rem;
}

.medium {
    --size: 1rem;
}

.large {
    --size: 1.125rem;
}

.x-large {
    --size: 1.25rem;
}

.shadow {
    box-shadow: 0 0.25rem 0.25rem rgba(var(--s-color-dark-rgb), 0.1);
    transition: box-shadow 50ms linear;

    &:active {
        box-shadow: 0 0.5rem 0.5rem rgba(var(--s-color-dark-rgb), 0.2);
    }

    &.disabled, &.readonly {
        box-shadow: 0 0.25rem 0.25rem rgba(var(--s-color-dark-rgb), 0.1);
    }
}

.borderless {
    border-color: transparent;
}

.angular {
    border-radius: 0;
}

