@namespace Secyud.Secits.Blazor
@using Secyud.Secits.Blazor.Icons
@inherits SLayoutPluginBase<SActivableBase>


@code
{
    public override RenderFragment RenderTemplate() => __builder =>
    {
        <SIcon @ref="_icon" IconName="@IconProvider.GetIcon(IconName.DropDown)"
               Click="@OnDropDownClickAsync"
               Class="@GetClass()" Style="@GetStyle()"></SIcon>

        @if (_isDropDownVisible)
        {
            <div @ref="_dropDownContent" class="dropdown-content">
                @ChildContent
            </div>
        }
    };
}
