@namespace Secyud.Secits.Blazor
@inherits SPluggableBase

@{
    base.BuildRenderTree(__builder);
}

@code
{
    protected override RenderFragment GenerateChildContent() => __builder =>
    {
        foreach (var renderer in SlotRenderer)
        {
            @renderer.RenderTemplate()
        }
    };

    protected override RenderFragment GenerateContent() =>
        @<div class="@GetClass()" style="@GetStyle()" @onclick="OnClick">
            @GenerateChildContent()
        </div>;
}

