@namespace Secyud.Secits.Blazor
@inherits SPluginBase<SGrid<TItem>>
@typeparam TItem

@code
{
    public RenderFragment GenerateHeader(int index)
    {
        return __builder =>
        {
            if (Master.TableColumns.Count - 1 <= index) return;

            <div class="col-resizer" @onmousedown="OnResizerMouseDown"></div>
        };

        Task OnResizerMouseDown(MouseEventArgs args)
        {
            return BeginDragColumnHeader(index);
        }
    }
}
