@namespace Secyud.Secits.Blazor
@inherits SPluginBase<SGrid<TValue>>
@typeparam TValue
@typeparam TField

@code
{
    public virtual RenderFragment GenerateHeader() => __builder =>
    {
        <div class="header-cell">
            @Caption

            @if (EnableFilter)
            {
                @GenerateFilter()
            }
            @if (EnableSorter)
            {
                // TODO Sorter
            }
        </div>
    };

    public virtual RenderFragment GenerateFilter() => __builder =>
    {
        // TODO Filter 
     
    };

    public virtual RenderFragment GenerateColumn(TValue value) => __builder =>
    {
        if (ValueField is null) return;
        var field = GetField(value);
        if (Format is null)
        {
            @field
        }
        else
        {
            @string.Format($"{{0:{Format}}}", field)
        }
    };

    public RenderFragment GenerateFooter() => __builder => { };
}
