@namespace Secyud.Secits.Blazor
@inherits SContentBase
@typeparam TItem

@{
    base.BuildRenderTree(__builder);
}

@code
{

    protected override RenderFragment GenerateBody() => __builder => { @ItemsRenderer.Get()?.GenerateItems(GenerateRow) };

    protected virtual RenderFragment GenerateRow(TItem item) => __builder =>
    {
        <div class="@GetRowClass(item)" style="@GetRowStyle(item)" @onclick="e => OnRowClick(e, item)">
            @GenerateCol(item)
        </div>
    };

    protected abstract RenderFragment GenerateCol(TItem item);
}
