@namespace Secyud.Secits.Blazor
@inherits SSettingBase<STable<TItem>>
@typeparam TItem
@typeparam TValue

@code
{
    public virtual RenderFragment GenerateHeader() => __builder =>
    {
        <div class="header-cell">
            @Caption

            @if (EnableFilter)
            {
                @GenerateFilter()
            }
            @if (EnableSorter)
            {
                // TODO Sorter
            }
        </div>
    };

    public virtual RenderFragment GenerateFilter() => __builder =>
    {
        // TODO Filter 
     
    };

    public virtual RenderFragment GenerateColumn(TItem item) => __builder =>
    {
        if (ValueField is null) return;
        var value = GetField(item);
        if (Format is null)
        {
            @value
        }
        else
        {
            @string.Format($"{{0:{Format}}}", value)
        }
    };

    public RenderFragment GenerateFooter() => __builder => { };
}
