:root {
    --s-color-text: rgb(0, 0, 0);
    --s-color-text-rgb: 0, 0, 0;
    --s-color-body: rgb(255, 255, 255);
    --s-color-body-rgb: 255, 255, 255;
}

:root, .primary {
    --s-color: rgb(39, 128, 227);
    --s-color-rgb: 39, 128, 227;
    --s-color-dark: rgb(0, 0, 0);
    --s-color-dark-rgb: 0, 0, 0;
    --s-color-light: rgb(255, 255, 255);
    --s-color-light-rgb: 255, 255, 255;
    --s-color-back: var(--s-color-dark);
    --s-color-back-rgb: var(--s-color-dark-rgb);
}


.secondary {
    --s-color: rgb(55, 58, 60);
    --s-color-rgb: 55, 58, 60;
    --s-color-dark: rgb(0, 0, 0);
    --s-color-dark-rgb: 0, 0, 0;
    --s-color-light: rgb(255, 255, 255);
    --s-color-light-rgb: 255, 255, 255;
    --s-color-back: var(--s-color-light);
    --s-color-back-rgb: var(--s-color-light-rgb);
}

.success {
    --s-color: rgb(63, 182, 24);
    --s-color-rgb: 63, 182, 24;
    --s-color-dark: rgb(0, 0, 0);
    --s-color-dark-rgb: 0, 0, 0;
    --s-color-light: rgb(255, 255, 255);
    --s-color-light-rgb: 255, 255, 255;
    --s-color-back: var(--s-color-light);
    --s-color-back-rgb: var(--s-color-light-rgb);
}

.info {
    --s-color: rgb(153, 84, 187);
    --s-color-rgb: 153, 84, 187;
    --s-color-dark: rgb(0, 0, 0);
    --s-color-dark-rgb: 0, 0, 0;
    --s-color-light: rgb(255, 255, 255);
    --s-color-light-rgb: 255, 255, 255;
    --s-color-back: var(--s-color-light);
    --s-color-back-rgb: var(--s-color-light-rgb);
}

.warning {
    --s-color: rgb(255, 117, 24);
    --s-color-rgb: 255, 117, 24;
    --s-color-dark: rgb(0, 0, 0);
    --s-color-dark-rgb: 0, 0, 0;
    --s-color-light: rgb(255, 255, 255);
    --s-color-light-rgb: 255, 255, 255;
    --s-color-back: var(--s-color-light);
    --s-color-back-rgb: var(--s-color-light-rgb);
}

.danger {
    --s-color: rgb(255, 0, 57);
    --s-color-rgb: 255, 0, 57;
    --s-color-dark: rgb(0, 0, 0);
    --s-color-dark-rgb: 0, 0, 0;
    --s-color-light: rgb(255, 255, 255);
    --s-color-light-rgb: 255, 255, 255;
    --s-color-back: var(--s-color-light);
    --s-color-back-rgb: var(--s-color-light-rgb);
}

.light {
    --s-color: rgb(248, 249, 250);
    --s-color-rgb: 248, 249, 250;
    --s-color-dark: rgb(255, 255, 255);
    --s-color-dark-rgb: 255, 255, 255;
    --s-color-light: rgb(0, 0, 0);
    --s-color-light-rgb: 0, 0, 0;
    --s-color-back: var(--s-color-light);
    --s-color-back-rgb: var(--s-color-light-rgb);
}

.dark {
    --s-color: rgb(55, 58, 60);
    --s-color-rgb: 55, 58, 60;
    --s-color-dark: rgb(0, 0, 0);
    --s-color-dark-rgb: 0, 0, 0;
    --s-color-light: rgb(255, 255, 255);
    --s-color-light-rgb: 255, 255, 255;
    --s-color-back: var(--s-color-light);
    --s-color-back-rgb: var(--s-color-light-rgb);
}