@namespace Secyud.Secits.Blazor
@inherits SLayoutSettingBase<SActivableBase>


@code
{
    public override RenderFragment RenderTemplate() => __builder =>
    {
        <div></div>
        
        
    };
}
