@namespace Secyud.Secits.Blazor
@inherits SActivableBase

@{
    base.BuildRenderTree(__builder);
}

@code
{
    protected override RenderFragment GenerateContent() =>
        @<div class="@GetClass()" style="@GetStyle()"
              @onclick="OnClick">
            @GenerateChildContent()
        </div>;
}
