@using Secyud.Secits.Blazor.Icons
<div class="@GetClass()">
    <div class="layout-menu-pin" @onclick="ChangeFixedAsync">
        <SIcon IconName="@(MenuFixed ? IconName.Pin : IconName.Bars)"/>
    </div>
    @ChildContent
</div>