<div class="sc-menu" id="main-menu">
        
    <div class="s-menu outer">
        @foreach (var item in Menus)
        {
            <a class="menu-item" href="@item">
                <div class="menu-item-text">@item</div>
            </a>
        }
    </div>
</div>
