@namespace Secyud.Secits.Blazor
@using Secyud.Secits.Blazor.Validations
@inherits SLayoutPluginBase<SFormLayout>

@code
{
    public override RenderFragment RenderTemplate() =>
        __builder =>
        {
            <div class="@GetClass()" style="@GetStyle()">
                @if (Master.EnableValidation && EnableValidation)
                {
                    <ValidationField>
                        @GenerateFieldContent()
                        @if (ShowValidationMessage)
                        {
                            <SValidationMessage/>
                        }
                    </ValidationField>
                }
                else
                {
                    @GenerateFieldContent()
                }
            </div>
        };

    protected virtual RenderFragment GenerateFieldContent() =>
        __builder =>
        {
            @if (Master.EnableLabel || !string.IsNullOrWhiteSpace(Title))
            {
                <label class="form-item-title">
                    @Title
                </label>
            }

            @if (ChildContent is not null)
            {
                @ChildContent
            }
        };
}
