@namespace Secyud.Secits.Blazor
@using Secyud.Secits.Blazor.Validations
@inherits SLayoutPluginBase<SFormLayout>
<div class="@GetClass()" style="@GetStyle()">
    @if (Master.EnableValidation && EnableValidation)
    {
        <ValidationField>
            @GenerateFieldContent()
            @if (ShowValidationMessage)
            {
                <SValidationMessage/>
            }
        </ValidationField>
    }
    else
    {
        @GenerateFieldContent()
    }
</div>

@code
{
    protected virtual RenderFragment GenerateFieldContent() =>
        __builder =>
        {
            @if (Master.EnableLabel || !string.IsNullOrWhiteSpace(Title) ||
                 TitleTemplate is not null)
            {
                <label class="form-item-title">
                    @Title @TitleTemplate
                </label>
            }

            @if (ChildContent is not null)
            {
                <div class="form-item-content">
                    @ChildContent
                </div>
            }
        };
}
