@namespace Secyud.Secits.Blazor
@inherits SLayoutPluginBase<SFormLayout>

@code
{
    public override RenderFragment RenderTemplate() => __builder =>
    {
        <div class="@GetClass()" style="@GetStyle()">
            @if (Master.EnableTitle || !string.IsNullOrWhiteSpace(Title))
            {
                <label class="form-item-title">@Title</label>
            }
            @ChildContent
        </div>
    };
}
