@color: var(--s-c);
@size: var(--s-s);
@border-radius: var(--s-s-br);
@border-width: var(--s-s-bw);

@font-face {
  font-family: 'secits-icons';
  src: url('./secits-icons.woff2#secits-icons') format('woff2');
}

.component() {
  border-radius: @border-radius;
  background-color: @color;
  border: @border-width solid @color;
}

