
.group {
    .l {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .r {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    .t {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .b {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .m {
        border-radius: 0;
    }

    div, span {
        margin: 0;
    }
}