@namespace Secyud.Secits.Blazor
@inherits SSettingBase<SInput<int>>


@code
{
    public RenderFragment RenderSlot() =>
        @<div class="integer-slider" style="--bias: @NumberCount;" @onwheel="OnWheelAsync">
            @GenerateNumberBox()
        </div>;

    private RenderFragment GenerateOffset(int offset, int value) =>
        @<span class="element" style="--offset: @offset;"
               @onclick="() => Master.OnValueChangedAsync(value)">
            @(string.IsNullOrEmpty(Format) ? value : value.ToString(Format))
        </span>;
}

