@namespace Secyud.Secits.Blazor.Components
@inherits ScBase

@{
    base.BuildRenderTree(__builder);
}

@code
{
    protected override RenderFragment GenerateChildContent() => __builder =>
    {
        <input/>
        @GenerateDropdownButton()
    };

    private RenderFragment GenerateDropdownButton() => __builder =>
    {
        // TODO
        <button></button>
    };
}

