@namespace Secyud.Secits.Blazor
@inherits SInputText

@{
    base.BuildRenderTree(__builder);
}

@code
{

    protected override RenderFragment GenerateChildContent() => __builder =>
    {
        @base.GenerateChildContent()
        @GenerateDropdownButton()
    };

    private RenderFragment GenerateDropdownButton() => __builder => { <button></button> };
}

