@using System.Numerics
@namespace Secyud.Secits.Blazor.Components
@inherits SMaskableInputBase<TValue>
@typeparam TValue where TValue : struct, INumber<TValue>

@{
    base.BuildRenderTree(__builder);
}

@code
{
    protected override RenderFragment GenerateChildContent() => __builder =>
    {
        @base.GenerateChildContent()
        // TODO Icon button
        <span class="s-group">
            <SButton></SButton>
        </span>
        @GenerateClearButton()
    };
}
