@namespace Secyud.Secits.Blazor.Components
@inherits ScSettingBase<SInput<int>>

@{
    base.BuildRenderTree(__builder);
}

@code
{
    public RenderFragment RenderSlot() => __builder =>
    {
        <div class="integer-slider" style="--bias: @NumberCount;"
             @onwheel="OnWheelAsync">
            @GenerateNumberBox()
        </div>
    };

    private RenderFragment GenerateOffset(int offset, int value) => __builder =>
    {
        <span class="element" style="--offset: @offset;"
              @onclick="() => Master!.OnValueChangedAsync(value)">
            @(string.IsNullOrEmpty(Format) ? value : value.ToString(Format))
        </span>
    };
}
