@namespace Secyud.Secits.Blazor.Preset
@inherits SButton

@((RenderFragment)base.BuildRenderTree)

@code
{
    protected override RenderFragment GenerateSetting()
    {
        return __builder =>
        {
            <AddTemplate>
                @ChildContent
            </AddTemplate>
            <EnableDropDown @ref="_enableDropDown" ContentClass="outline">
                <div @onclick="CloseDropDownAsync" @onclick:stopPropagation>
                    @DropdownContentTemplate
                </div>
            </EnableDropDown>
        };
    }
}