@namespace Secyud.Secits.Blazor.Components
@inherits SItemsIteratorBase<TItem>
@typeparam TItem

@{
    base.BuildRenderTree(__builder);
}

@code
{


    protected override RenderFragment<TItem> GenerateRow()
    {
        if (RowRenderer is not null)
            return base.GenerateRow();

        return item => __builder =>
        {
            <div>
                @GenerateCol()(item)
            </div>
        };
    }

    protected override RenderFragment<TItem> GenerateCol() => item => __builder =>
    {
        foreach (var col in _columns)
        {
            @col.GenerateColumn(item)
        }
    };
}
