@namespace Secyud.Secits.Blazor
@inherits SPluginBase<SGrid<TValue>>
@typeparam TValue

@code
{
    public RenderFragment GenerateHeader(int index)
    {
        return __builder =>
        {
            var column = Master.TableColumns[index];
            if (column.MaxWidth <= column.MinWidth) return;
            var cls = "resizer";
            if (index == Master.TableColumns.Count - 1)
            {
                cls += " half";
            }

            <div class="@cls" @onmousedown="OnResizerMouseDown"></div>
        };

        Task OnResizerMouseDown(MouseEventArgs args)
        {
            return BeginDragColumnHeader(index);
        }
    }
}
