@namespace Secyud.Secits.Blazor
@inherits SPluginBase<SGrid<TValue>>
@typeparam TValue

@code
{
    public RenderFragment GenerateHeader(int index)
    {
        return __builder =>
        {
            <div class="resizer" @onmousedown="OnResizerMouseDown"></div>
        };

        Task OnResizerMouseDown(MouseEventArgs args)
        {
            return BeginDragColumnHeader(index);
        }
    }
}
