@namespace Secyud.Secits.Blazor
@inherits SPluginBase<SGrid<TValue>>
@typeparam TValue

@code
{
    public RenderFragment GenerateHeader(int index)
    {
        var cls = "resizer";
        if (index == Master.TableColumns.Count - 1)
        {
            cls += " half";
        }
        return __builder =>
        {
            <div class="@cls" @onmousedown="OnResizerMouseDown"></div>
        };

        Task OnResizerMouseDown(MouseEventArgs args)
        {
            return BeginDragColumnHeader(index);
        }
    }
}
