
.button[s] {
    --cbgp: var(--s-color);
    --cbgs: var(--s-color-blend);
    --bgmix: 5%;
    --ctxp: var(--s-color);
    --ctxs: var(--s-color-reverse);
    --txmix: 30%;
    --cbdp: var(--s-color);
    --cbds: var(--s-color-blend);
    --bdmix: 50%;

    text-align: center;
    cursor: pointer;

    &.rd {
        --width-c: var(--height-c);
    }

    &:hover {
        --bgmix: var(--bgmix-h);
        --txmix: var(--txmix-h);
        --bdmix: var(--bdmix-h);
    }

    &:active {
        --bgmix: var(--bgmix-a);
        --txmix: var(--txmix-a);
        --bdmix: var(--bdmix-a);
        transition: 0ms;
    }
}