
.s-button {
    --mix-value: 100%;
    --text-mix-value: 100%;
    --s-button-text-rgb: var(--s-color-text-rgb);

    cursor: pointer;
    
    overflow: hidden;

    text-align: center;

    margin: 0.25rem;
    padding: calc(var(--size) / 2) var(--size);
    font-size: var(--size);

    border-radius: 0.25rem;
    border: 1px solid var(--s-color);

    color: rgba(var(--s-button-text-rgb), var(--text-mix-value));
    background-color: color-mix(in lch, var(--s-color) var(--mix-value), var(--s-color-blend));

    --transition-time: 50ms;
    transition: color var(--transition-time) linear, border var(--transition-time) linear, background-color var(--transition-time) linear;

    &:hover {
        --mix-value: 90%;
        --text-mix-value: 75%;
    }

    &:active {
        --mix-value: 70%;
        --text-mix-value: 100%;
    }

    &.background {
        --mix-value: 0;
        --text-mix-value: 75%;
        --s-button-text-rgb: var(--s-color-body-text-rgb);

        &:hover {
            --mix-value: 10%;
            --text-mix-value: 100%;
        }

        &:active {
            --mix-value: 50%;
            --text-mix-value: 75%;
        }
    }

    &.rounded {
        border-radius: 50%;

        padding: calc(var(--size) / 2);
        height: calc(var(--size) * 2.5);
        width: calc(var(--size) * 2.5);
    }

    &.readonly {
        --mix-value: 100%;
        --text-mix-value: 100%;

        &:hover {
            --mix-value: 100%;
            --text-mix-value: 100%;
        }

        &:active {
            --mix-value: 100%;
            --text-mix-value: 100%;
        }
    }

    &.disabled {
        --mix-value: 50%;
        --text-mix-value: 50%;

        &:hover {
            --mix-value: 50%;
            --text-mix-value: 50%;
        }

        &:active {
            --mix-value: 50%;
            --text-mix-value: 50%;
        }
    }
}