.card[s] {
    --bgmix: 0;

    &.rd {
        border-radius: calc(var(--size));
    }

    .card-header {
        padding: 0.25rem;
        font-weight: 600;
    }

    .card-body {
        --size-body: calc(var(--size) * 0.875);
        padding: 0.25rem;
    }
}