
.s-input {
    > input, > textarea, > button, & input, & textarea, & button {
        font-size: var(--size);
        margin: 0;
        outline: none;
        border: none;
        background: none;
    }

    > input, > textarea, > button {
        --distance: -0.25rem;
        color: inherit;
        border-radius: inherit;

        width: 100%;
    }

    --mix-value: 0%;
    --border-mix-value: 50%;
    --text-mix-value: 50%;
    --text-color-current: rgba(var(--s-color-body-text-rgb), var(--text-mix-value));

    display: flex;

    margin: 0.25rem;
    padding: 0.25rem;

    border-radius: 0.25rem;
    border: 0.125rem solid color-mix(in lch, var(--s-color) var(--border-mix-value), var(--s-color-blend));

    color: var(--text-color-current);
    background-color: color-mix(in lch, var(--s-color) var(--mix-value), var(--s-color-body));

    --transition-time: 50ms;
    transition: color var(--transition-time) linear, border var(--transition-time) linear, background-color var(--transition-time) linear;

    &:hover {
        --mix-value: 4%;
        --border-mix-value: 100%;
        --text-mix-value: 75%;
    }

    &:has(input:focus) {
        --mix-value: 2%;
        --border-mix-value: 75%;
        --text-mix-value: 100%;
    }

    &.background {
        --text-color-current: rgba(var(--s-color-text-rgb), var(--text-mix-value));
        background-color: color-mix(in lch, var(--s-color) var(--mix-value), var(--s-color-blend));

        --mix-value: 100%;
        --text-mix-value: 75%;

        &:hover {
            --mix-value: 90%;
            --text-mix-value: 75%;
        }

        &:has(input:focus) {
            --mix-value: 70%;
            --text-mix-value: 100%;
        }
    }

    &.rounded {
        border-radius: calc(var(--size));

        > input, > textarea {
            padding: 0 calc(var(--size) / 2);
        }
    }

    &.readonly, &.disabled {
        --mix-value: 0%;
        --border-mix-value: 50%;
        --text-mix-value: 50%;

        &:hover {
            --mix-value: 0%;
            --border-mix-value: 50%;
            --text-mix-value: 50%;
        }

        &:active {
            --mix-value: 0%;
            --border-mix-value: 50%;
            --text-mix-value: 50%;
        }
    }
}