
.input[s] {
    input, textarea, button, & input, & textarea, & button {
        font-size: var(--size);
        margin: 0;
        outline: none;
        border: none;
        background: none;
    }

    input, textarea, button {
        color: inherit;
        border-radius: inherit;
        width: 100%;
    }

    display: flex;

    .input-container {
        display: flex;
        position: relative;

        > .button-close {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
        }
    }

    &:hover {
        --bgmix: var(--bgmix-h);
        --txmix: var(--txmix-h);
        --bdmix: var(--bdmix-h);
    }

    &:has(:focus) {
        --bgmix: var(--bgmix-f);
        --txmix: var(--txmix-f);
        --bdmix: var(--bdmix-f);
    }
}