.table[s] {
    --padding-x-c: 0;
    --padding-y-c: 0;

    > table {
        border-spacing: 0;
        border-collapse: collapse;

        > thead {
            --border-c: 0.125rem solid var(--border-color-c);

            > tr {
                border-bottom: var(--border-c);

                > th:not(:first-child) {
                    border-left: var(--border-c);
                }
            }
        }

        > tbody {
            --border-c: 0.125rem solid var(--border-color-c);

            > tr {
                border-top: var(--border-c);

                > td:not(:first-child) {
                    border-left: var(--border-c);
                }

                > td {
                    padding: 0.25rem;
                }

                background-color: color-mix(in lch, var(--cbgp) var(--bgmix), var(--cbgs));
                color: color-mix(in lch, var(--ctxp) var(--txmix), var(--ctxs));
                transition: all 50ms;

                &:hover {
                    --bgmix: var(--bgmix-h);
                    --txmix: var(--txmix-h);
                }

                &.selected {
                    --bgmix: var(--bgmix-s);
                    --txmix: var(--txmix-s);
                }
            }
        }
    }
}