.table[s] {
    --padding-x-c: 0;
    --padding-y-c: 0;

    display: flex;
    flex-direction: column;
    height: 100%;


    > .table-body {
        flex: 1;
        overflow: auto;

        scrollbar-gutter: stable;

        /*&::-webkit-scrollbar {*/
        /*    background-color: rgba(0, 0, 0, 0);*/
        /*}*/
        
        /*&::-webkit-scrollbar-button {*/
        /*}*/
        
        /*&::-webkit-scrollbar-thumb {*/
        
        /*}*/
        
        /*&::-webkit-scrollbar-track {*/
        /*    background-color: rgba(0, 0, 0, 0);*/
        /*}*/
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        flex: 0;

        > thead, > tbody, > tfoot {
            --border-c: 1px solid var(--border-color-c);

            > tr {

                > td, > th {
                    padding: 0.5rem 1rem;
                    border-left: var(--border-c);
                    border-top: var(--border-c);
                }

                > td {
                    overflow: hidden;
                }

                &:first-child {
                    > th, > td {
                        --cw: auto;
                        width: var(--cw);

                        &:last-child {
                            width: auto;
                        }
                    }

                    > td {
                        padding: 0 1rem;
                    }
                }
            }
        }

        > thead {
            > tr {
                > th {
                    position: relative;

                }
            }
        }

        > tbody {
            > tr {
                background-color: color-mix(in lch, var(--cbgp) var(--bgmix), var(--cbgs));
                color: color-mix(in lch, var(--ctxp) var(--txmix), var(--ctxs));
                transition: 50ms;


                &:hover {
                    --bgmix: var(--bgmix-h);
                    --txmix: var(--txmix-h);
                }

                &.selected {
                    --bgmix: var(--bgmix-s);
                    --txmix: var(--txmix-s);
                }
            }
        }
    }
}