@using Secyud.Secits.Blazor.Settings.Tabs
@namespace Secyud.Secits.Blazor

<div class="@GetClass()" style="@GetStyle()">
    @if (TabContainer is not null)
    {
        @RenderTabContents(TabContainer.Tabs)
    }
</div>

@code {

    protected RenderFragment RenderTabContent(ITab tab) =>
        @<div class="s-tab-content" id="tc-@tab.Key">
            @tab.RenderTabContent()
        </div>;

}