.close {
    --bgmix: 0;
    --txmix: 0;
    flex-shrink: 0;
    display: flex;

    transition: background-color 50ms linear;

    margin: auto;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: rgba(from var(--s-color-reverse) r g b / var(--bgmix));


    &:hover {
        --bgmix: 10%;
        --txmix: 50%;
    }

    &:active {
        --bgmix: 30%;
        --txmix: 90%;
    }


    &::before {
        --mask-size: calc(var(--size) / 2);
        content: "";
        display: block;
        margin: auto;
        width: var(--mask-size);
        height: var(--mask-size);
        background-color: rgba(from var(--s-color-reverse) r g b / var(--txmix));
        mask-image: url(./images/svg/clear.svg);
        mask-size: var(--mask-size);
        transition: background 50ms linear;
    }
}