
.integer-slider {
    --bias: 1;
    height: calc(var(--s-s) * (var(--bias) * 2));
    position: relative;
    text-align: center;
    overflow: hidden;
    flex: auto;
    width: 100%;

    > .element {
        --offset: 0;
        position: absolute;
        line-height: var(--s-s);
        font-size: var(--s-s);
        left: 0;
        right: 0;
        top: calc(var(--s-s) * (var(--bias) + var(--offset) - 0.5));
        user-select: none;
        cursor: pointer;
        overflow-y: scroll;
        scrollbar-width: none;
        overscroll-behavior-y: none;
        transition: top .1s;
    }
}