@namespace Secyud.Secits.Blazor
@inherits SContentBase

@{
    base.BuildRenderTree(__builder);
}

@code {

    protected override RenderFragment GenerateHeader() =>
        Header.Count > 0
            ? @<div class="header">
                  @base.GenerateHeader()
              </div>
            : null;

    protected override RenderFragment? GenerateBody() =>
        Body.Count > 0
            ? @<div class="body">
                  @foreach (var renderer in Body)
                  {
                      @renderer.GenerateBody()
                  }
              </div>
            : null;

    protected override RenderFragment GenerateFooter() =>
        Footer.Count > 0
            ? @<div class="footer">
                  @base.GenerateFooter()
              </div>
            : null;

}

