<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <SecitsCssImport/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["Secyud.Secits.Blazor.Server.Demo.styles.css"]"/>

    <ImportMap/>
    <HeadOutlet @rendermode="InteractiveServer"/>
    <title>demo</title>
</head>

<body>
<Routes @rendermode="InteractiveServer"/>
<script src="_framework/blazor.web.js"></script>
<SecitsJsImport/>
</body>

</html>